@media (min-width: 1041px) {
    .card-bg3,
    .card-bg4 {
        display: none !important;
    }
    .slider-grid {
        display: none;
    }
}

@media (max-width: 1040px) {
    .slider-grid {
        display: none;
    }
    .gallery-grid {
        display: grid;
        display: -ms-grid;
        border-bottom: 3px solid #f5f5f5;
        grid-template-columns: 50% 50% !important;
        -ms-grid-columns: 50% 50% !important;
    }
}

@media (min-width: 641px) {
    .swiper-container-vertical {
        display: none !important;
    }
}

@media (max-width: 640px) {
    .exit-header {
        grid-template-columns: 85% 15% !important;
        -ms-grid-columns: 85% 15% !important;
    }
    .exit-header h2 {
        font-size: 0.9em !important;
    }
    .detail {
        width: 92% !important;
    }
    .delete {
        width: 92% !important;
    }
    h3.bmw-title {
        font-size: 1em;
        font-family: 'Segoe_UI_Semibold' !important;
        text-align: center;
    }
    h4.bmw-title {
        font-size: 0.8em;
        font-family: 'Segoe_UI_Semibold' !important;
    }
    .gallery-grid {
        display: none !important;
    }
    .display {
        display: grid;
        display: -ms-grid;
        grid-template-columns: 100% !important;
        -ms-grid-columns: 100% !important;
        padding: 0px 10px;
        height: 100%;
    }
    .side-menu {
        display: none !important;
    }
    .element-active {
        width: 100% !important;
    }
    .slider-grid {
        display: block;
        height: 50vh !important;
        background-color: rgb(141, 141, 141);
        width: 100%;
        position: relative;
    }
    .card-bg2 {
        grid-template-columns: 5% 90% 5% !important;
        -ms-grid-columns: 5% 90% 5% !important;
    }
}

.display-loader {
    display: flex;
    background-color: rgba(255, 255, 255, 0.8);
    justify-content: center;
    align-items: center;
    height: 40vh;
}

.display-loader .loader-loading {
    border: 10px solid #003C53;
    border-top: 10px solid #EA983D;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    animation: spin 2s linear infinite;
}

* {
    padding: 0;
    margin: 0;
    transition: all 0.3s;
    font-family: 'Segoe_UI';
    color: #003C53;
}

.slider-grid {
    height: 50vh !important;
    background-color: rgb(141, 141, 141);
    width: 100%;
    position: relative;
}

.swiper-container {
    display: initial;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #eeefea;
}

.swiper-container .swiper-slide {
    background-color: #ffffff;
    width: 100%;
    position: relative;
}

.swiper-container .swiper-slide .car-item {
    background-color: #ffffff;
    width: 100%;
    position: relative;
    height: 50vh;
}

.swiper-container .swiper-slide .car-item:hover {
    background-color: #ffffff;
}

.swiper-container .swiper-slide .car-item .model-image {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    margin-bottom: 0.5rem;
}

.swiper-container .swiper-slide .car-item .model-image img {
    height: 48vh !important;
}

.display {
    display: grid;
    display: -ms-grid;
    grid-template-columns: 25% 75%;
    -ms-grid-columns: 25% 75%;
    padding: 0px 10px;
    height: 100%;
}

a,
a:link,
a:visited {
    color: #666666;
    text-decoration: none;
}

.loader {
    border: 10px solid #003C53;
    border-top: 10px solid #EA983D;
    border-radius: 50%;
    position: absolute;
    left: 45%;
    top: 50%;
    width: 150px;
    height: 150px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.side-menu {
    border-right: solid;
    border-right-color: #eeefea;
    border-width: 2px;
    padding-right: 10px;
}

h3.bmw-title {
    font-family: 'Segoe_UI_Bold';
    text-align: center;
}

h4.bmw-title {
    font-family: 'Segoe_UI_Semibold';
    text-align: center;
}

h4.bmw-title strong {
    font-family: 'Segoe_UI_Bold';
    color: rgb(37, 116, 148);
}

.course {
    padding: 10px;
    margin-bottom: 2px;
    cursor: pointer;
}

.course>a:hover {
    color: rgb(95, 93, 93);
}

.course:hover {
    border-bottom-color: #92a2bd;
}

.active {
    border-bottom-color: #92a2bd !important;
}

.card {
    padding: 0% 1% 0% 1%;
}

.card-bg {
    background-color: #003C53;
    color: #EA983D !important;
    padding: 0.8rem;
    margin-bottom: 0.7rem;
}

.card-bg h3 {
    color: white !important;
}

.card-bg>p {
    padding: 2px;
}

.card ul {
    padding-left: 40px;
    list-style-type: square;
}

.bmw-btn {
    text-align: left;
    padding: 0 30px;
    background: #EA983D;
    border: 0;
    min-width: 304px;
    height: 35px;
    cursor: pointer;
}

.bmw-btn:hover {
    background: rgb(226, 168, 102) !important;
}

.bmw-btn>a {
    color: white;
    font-family: 'Segoe_UI_Semibold';
    text-decoration: none;
    display: block;
}

.bmw-btn-red {
    background: #d20000;
    margin-left: 3px;
}

.bmw-btn-red>a {
    color: white;
    font-family: 'Segoe_UI_Semibold';
    text-decoration: none;
    display: block;
    background: url('../../../assets/icons/close_24_navigation_negativ_mouseover.png') right center no-repeat;
}

.bmw-btn:hover {
    background-color: #7c89a1;
}

.bmw-btn-red:hover {
    background-color: #bb0000;
}

.bmw-btn:disabled {
    border: 1px solid #d8d8d8;
    background-color: #d8d8d8;
    cursor: not-allowed;
}

.bmw-btn:disabled>a {
    color: #999999 !important;
    background: none !important;
}

.bmw-btn-red:disabled {
    border: 1px solid #d8d8d8;
    background-color: #d8d8d8;
    cursor: not-allowed;
}

.bmw-btn-red:disabled>a {
    color: #999999 !important;
    background: none !important;
}

.quantity {
    padding: 0;
    padding-left: 10px;
    min-width: 40px;
    margin-top: 5px;
}

.accordion-active {
    background-color: #eeefea;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
}

.accordion-active>h3 {
    display: block;
    background: url('../../../assets/icons/down_24_navigation_default.png') right center no-repeat;
}

.accordion {
    background-color: #eeefea;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
}

.accordion>h3 {
    display: block;
    background: url('../../../assets/icons/next_24_navigation_default.png') right center no-repeat;
}

.accordion-panel {
    display: none;
    overflow: hidden;
}

li>a {
    cursor: pointer;
}

.course-disabled {
    color: #c1c1c1;
}

.course-disabled:hover {
    color: #c1c1c1 !important;
}

.module-footer {
    display: grid;
    display: -ms-grid;
    grid-template-columns: 18% 2% 80%;
    -ms-grid-columns: 18% 2% 80%;
    /* padding: 0px 10px 10px 10px;
    text-align: center; */
}

.download-link {
    font-family: 'Segoe_UI_Semibold';
    color: #444444;
    background: url(../../../assets/icons/next_24_navigation_default.png) left center no-repeat;
    background-size: 18px;
    padding: 18px;
    cursor: pointer;
}

.download-link:hover {
    color: black;
}

.vins-grid {
    /* padding: 0px 10px 10px 10px;
    text-align: center; */
    overflow-y: auto !important;
    min-height: 55vh !important;
    height: 55vh !important;
    padding: 1%;
    padding-bottom: 2% !important;
    border-bottom: 3px solid #f5f5f5;
}

.vin-element {
    font-family: 'Segoe_UI';
    border-top: 1px solid #e2e2e2;
    border-left: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
    text-align: center;
    cursor: pointer;
    display: grid;
    display: -ms-grid;
    grid-template-columns: 33% 33% 33%;
    -ms-grid-columns: 33% 33% 33%;
    height: 5vh;
    padding-right: 0% !important;
    background-color: #F9F9F9;
    justify-content: center;
}

.vin-element .name {
    color: #5a5959;
    /*color: #92a2bd !important;*/
    padding: 3% 6%;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center
}

.vin-element .tech {
    color: #5a5959;
    padding: 3% 6%;
    background-color: rgb(245, 243, 243);
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center
}

.vin-element .date {
    color: #5a5959;
    padding: 3% 6%;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center
}

.vin-element:hover {
    opacity: 0.7;
}

.vin-element:last-child {
    border-bottom: 1px solid #e2e2e2;
}

.options-container {
    display: grid;
    display: -ms-grid;
    grid-template-columns: 33% 33% 33%;
    -ms-grid-columns: 33% 33% 33%;
    padding: 0% 0% 1% 0%;
}

.option-div {
    display: grid;
    display: -ms-grid;
    grid-template-columns: 90% 10%;
    -ms-grid-columns: 90% 10%;
}

.icon {
    margin-left: 10% !important;
    height: 100%;
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.clear {
    background-image: url('../../../assets/icons/close_24_navigation_default.png');
}

.clear:hover {
    background-image: url('../../../assets/icons/close_24_navigation_mouseover.png');
}

input {
    height: 2rem;
    width: 100%;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    font-size: 1rem;
    padding-left: 1rem;
}

.card-bg2 {
    display: grid;
    display: -ms-grid;
    grid-template-columns: 33% 33% 33%;
    -ms-grid-columns: 33% 33% 33%;
    background-color: #EA983D;
    padding: 0.6rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

.gallery-grid {
    /* padding: 0px 10px 10px 10px;
    text-align: center; */
    overflow-y: auto !important;
    min-height: 55vh !important;
    height: 55vh !important;
    padding: 1%;
    padding-bottom: 2% !important;
    display: grid;
    display: -ms-grid;
    border-bottom: 3px solid #f5f5f5;
    grid-template-columns: 33% 33% 33%;
    -ms-grid-columns: 33% 33% 33%;
}

.gallery-grid .image-item {
    text-align: center;
    background-color: #f7f7f7;
    margin: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2%;
    padding-top: 4%;
    cursor: pointer;
}

.gallery-grid .image-item:hover {
    background-color: rgb(241, 208, 170);
}

.gallery-grid .image-item img {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    margin-bottom: 0.5rem;
}

.gallery-grid .image-item h4 {
    color: #003C53;
    margin-bottom: 1%;
}

.gallery-grid .image-item h5 {
    color: #5a5959;
}

.vin-element {
    font-family: 'Segoe_UI';
    border-top: 1px solid #e2e2e2;
    border-left: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
    text-align: center;
    cursor: pointer;
    display: grid;
    display: -ms-grid;
    grid-template-columns: 33% 33% 33%;
    -ms-grid-columns: 33% 33% 33%;
    height: 5vh;
    padding-right: 0% !important;
    background-color: #F9F9F9;
    justify-content: center;
}

.modal {
    /* display: block;  */
    position: fixed;
    /* Stay in place */
    z-index: 10;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.modal-content {
    /* 15% from the top and centered */
    border: 1px solid #888;
    /*width: 40%;*/
    background-color: #eeefea;
}

.delete {
    margin: 10% auto;
    width: 40%;
}

.contact {
    padding: 32px;
    margin: 10% auto;
    width: 40%;
}

.detail {
    margin: 1% auto;
    width: 60%;
    height: 95vh;
    overflow-y: scroll;
}

.success {
    margin: 5% auto;
    width: 10%;
}

.failure {
    margin: 5% auto;
    width: 10%;
}

.container-alert {
    display: flex;
    background-color: rgba(255, 255, 255, 0.8);
    justify-content: center;
    align-items: center;
    padding: 5%;
}

.container-alert .loader-loading {
    border: 10px solid #003C53;
    border-top: 10px solid #EA983D;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    animation: spin 2s linear infinite;
}

.modal-content img {
    text-align: center;
    width: 50%;
    margin: 1% 0%;
}

.modal-content .exit-header {
    padding: 4% 3% !important;
    color: #EA983D !important;
    background-color: #EA983D !important;
}

.modal-content .exit-header>h2 {
    text-transform: uppercase !important;
    font-family: 'Segoe_UI_Bold' !important;
    text-align: center !important;
}

.modal-content .description {
    padding: 3% 5% !important;
}

.modal-content .description h4 {
    font-family: 'Segoe_UI_Semibold';
}

.modal-content .description h4 {
    font-family: 'Segoe_UI_Bold';
    color: rgb(37, 116, 148);
}

.modal-content.detail .alert {
    text-align: center;
    position: relative;
    margin-bottom: 5%;
}

.modal-content.delete .alert {
    text-align: center;
    position: relative;
    padding: 5%;
}

.modal-content .detail-description {
    text-align: left !important;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5% 10% !important;
    bottom: 1%;
    position: absolute;
}

.modal-content img.detail-image {
    text-align: center;
    width: 50% !important;
    margin: 0.5% 0%;
}

.modal-content .alert {
    text-align: center;
}

.pop-title {
    display: grid;
    display: -ms-grid;
    grid-template-columns: 5% 95%;
    -ms-grid-columns: 5% 95%;
}

.exit-header {
    display: grid;
    display: -ms-grid;
    grid-template-columns: 95% 5%;
    -ms-grid-columns: 95% 5%;
}

.space-header {
    background-color: teal;
}

.hl {
    height: 100%;
    width: 30px;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../../../assets/icons/highlight_96_communication_red.png);
}

.exit {
    cursor: pointer;
    height: 100%;
    width: 30px;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../../../assets/icons/close_24_navigation_default.png);
}

.exit:hover {
    background-image: url(../../../assets/icons/close_24_navigation_mouseover.png);
}

.bmw-btn {
    text-align: center;
    padding: 0 30px;
    background: #EA983D;
    border: 0;
    min-width: 304px;
    height: 35px;
    cursor: pointer;
    float: center;
}

.bmw-btn>a {
    color: white;
    font-family: 'Segoe_UI_Semibold';
    text-decoration: none;
    display: block;
}

.bmw-btn-disabled {
    text-align: left;
    padding: 0 30px;
    min-width: 304px;
    height: 35px;
    border: 1px solid #d8d8d8;
    background-color: #d8d8d8;
    cursor: not-allowed;
    float: right;
}

.bmw-btn-disabled>a {
    font-family: 'Segoe_UI_Semibold';
    text-decoration: none;
    display: block;
    color: #999999 !important;
    background: none !important;
}

.container-fields2 {
    padding: 2% 4%;
    align-content: center;
}

.container-fields2 .item input {
    background-color: #eeefea !important;
    border: 1px solid #666666 !important;
    color: #858282 !important;
    margin: 1% 0% !important;
    font-family: 'Segoe_UI_Semibold' !important;
    padding: 1.5% 1% !important;
    font-size: 0.8rem !important;
    caret-color: #92a2bd !important;
    height: 1vh;
}

.container-fields2 .item textarea {
    background-color: #eeefea !important;
    border: 1px solid #666666 !important;
    color: #858282 !important;
    margin: 1% 0% !important;
    font-family: 'Segoe_UI_Semibold' !important;
    padding: 1.5% 1% !important;
    font-size: 0.8rem !important;
    caret-color: #92a2bd !important;
    height: 10vh;
    width: 100%;
    resize: none;
}

.container-fields2 .item.last {
    margin-bottom: 5%;
}